body{
   background-image:url(intro.jpg);
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing:border-box
   opacity:1;
   }

#intro{
   font-size:40px;
   color:white;
   font-style:Times New Roman
   }

h2, h4, h3, li{
              color:white;
              }